---
import crypto from "node:crypto";

import Button from "@/components/ui/Button.astro";
import MaskIcon from "@/components/ui/MaskIcon.astro";

import dropdownCaretIcon from "@/assets/icons/mask/dropdown-caret.avif?url";

interface Props {
  label: string;
  id?: string;
}

const { label, id } = Astro.props;

const popoverId = id ?? `dropdown-${crypto.randomUUID()}`;
---

<div class="dropdown">
  <Button
    variant="primary"
    type="button"
    popovertarget={popoverId}
    popovertargetaction="toggle"
  >
    {label}
    <span class="caret">
      <MaskIcon src={dropdownCaretIcon} />
    </span>
  </Button>

  <div id={popoverId} popover="auto" class="dropdown-content">
    <slot />
  </div>
</div>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .caret {
    display: flex;
    align-items: center;
    margin-inline-start: 0.5rem;
    transition: transform 0.2s ease;
  }

  .dropdown:has(.dropdown-content:popover-open) .caret {
    transform: rotate(180deg);
  }

  /* Panel */
  .dropdown-content {
    position: absolute;
    /* popover reset */
    margin: 0;
    border: none;

    inset-block-start: anchor(bottom);
    inset-inline-start: anchor(start);

    background: var(--card-color);
    border-radius: 0.75rem;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin-block-start: 0.25rem;
    min-width: 18rem;
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0.5rem;
    user-select: none;

    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);
    transition: transform 0.2s ease;
  }

  .dropdown-content:popover-open {
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }
</style>
