---
import type { ImageMetadata } from "astro";
import type { HTMLAttributes } from "astro/types";
import { Image } from 'astro:assets';
import MaskIcon from "./MaskIcon.astro";
import externalLinkIcon from "@/assets/icons/mask/external-link.avif";

export interface Props extends HTMLAttributes<'a'> {
  href: string;
  title: string;
  subtitle: string;
  logo: ImageMetadata;
}

const { href, title, subtitle, logo, ...rest } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer external"
  class="external-resource-button"
  {...rest}
>
  <div class="image">
    <Image src={logo} alt={`${title} Logo`} />
  </div>
  
  <div class="text">
    <span class="title">{title}</span>
    <span class="subtitle">{subtitle}</span>
  </div>
  
  <MaskIcon src={externalLinkIcon} size="1em" color="var(--monero-orange)" />
</a>

<style>
  .external-resource-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 0.75rem;
    font: inherit;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    border: 1px solid var(--border-color);
    cursor: pointer;
    text-decoration: none;
    user-select: none;
    background: var(--card-color);
    color: var(--monero-orange);
    transition: background 0.2s ease;
  }
  .external-resource-button:hover,
  .external-resource-button:focus-visible {
    background: var(--card-hover-color);
  }
  .image {
    margin-inline-end: 1rem;
    height: 3rem;
    border-radius: 0.5rem;
    overflow: hidden;
  }
  .image img {
    height: 100%;
    width: auto;
  }
  .text {
    flex: 1;
    margin-inline-end: 1rem;
  }
  .text .title {
    display: block;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    color: var(--heading-color);
  }
  .text .subtitle {
    display: block;
    font-size: var(--font-size-sm);
    color: var(--text-secondary);
    font-weight: var(--font-weight-normal);
  }
  /* Override for rel=external ::after from globals.css*/
  .external-resource-button::after {
    display: none;
  }
</style>